body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-image: url("Images/salah-regouane-e8YwWS9WGgs-unsplash.jpg");

    background-size: cover;

    background-repeat: no-repeat;
}