body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-image: url("Images/nrd-c3tNiAb098I-unsplash.jpg");

    background-size: cover;

    background-repeat: no-repeat;
}